<!-- views/partials/footer.ejs -->
<footer>
    <div class="conteiner">
        <div class="roda-pe">
            <h3>Match Book © 2021. Todos os direitos reservados</h3>
        </div>
    </div>
</footer>