<!-- views/partials/header_before.ejs -->
<header class="conteiner">
    <div class="inicio">
        <img src="/img/logo.gif" alt="logo" class="logo">

    </div>
    <p class="idioma">PORTUGUÊS(BRASIL)</p>
    <div class="btn-enter">
        <button onclick="document.location='users/login'">ENTRE</button>
    </div>
</header>