<!-- views/partials/header_before.ejs -->
<header class="conteiner">
    <div class="inicio">
        <img src="img/logo (2).png" alt="logo" class="logo">

    </div>
    <p class="idioma">PORTUGUÊS(BRASIL)</p>
    <div class="btn-enter">
        <button type="submit">ENTRE</button>
    </div>
</header>