<!-- views/partials/header_login.ejs -->
<header class="conteiner">
    <div class="inicio">
        <img src="/img/logo.gif" alt="logo" class="logo">

    </div>
    <p class="idioma">PORTUGUÊS(BRASIL)</p>
    <div class="btn-enter">
        <button onclick="document.location='/'">HOME</button>
    </div>
</header>