<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/books.css">
    <title>Meus Livros</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <P>MatchBook</P>
            </div>
        </div>
    </header>
    <main>
        <section class="principal">
            <div class="container">
                <article class="board">
                    <nav class="navigation">
                        <a href="">MATCHES</a>
                        <a href="">LIVROS</a>
                        <a href="">MEU PERFIL</a>
                    </nav>
                    <div class="livro-img">
                    </div>
                    <div class="back">
                        <a href="">VOLTAR</a>
                    </div>
                </article>
                <article class="exibithion">
                    <% for(let book of listaBooks) { %> 
                    <div style="background-image: url(' <%= book.cover %> ');">
                    </div>
                    <% } %> 
                </article>
            </div>
        </section>
    </main>
    <footer>
        <div>
            <p>Match Book © 2021. Todos os direitos reservados</p>
        </div>
    </footer>
</body>
</html>