<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/cadBook.css' />
  </head>
 <body>
  <header>
    <div class="container">
      <div class="logo">
        <h1>MatchBook</h1>
      </div>

      <p>Português-BR</p>
      <div class="btn-entrar">
        <button>Entre</button>    
      </div>
    </div>
  </header>
  <main>
    <section class="wrap-main">
      <div class="container">
        <div class="ani-logo">
         <p>ANIMAÇÃOLOGO</p>
        </div>
      </div>

    </section>
  </main>
</body>
</html>