<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body> 
    <header>
        <div class="container">
            <div class="logo">
                <img src="/img/logo.gif" alt="logo" class="logo">
            </div>
            <div class="btn-entrar">
                <p>PORTUGUÊS(BRASIL)</p>
                <button onclick="document.location='users/login'">Entre</button>
            </div>

        </div>
    </header>
    <main>
        <section class="wrap-main">
            <div class="container">
                    <img class="logogif" src="img\animacaologo.gif" alt="Gif logo">
                    <button type="registro" href="views/registro.ejs"> <strong>CRIAR UMA CONTA</strong> </button>
            </div>
        </section>
        <section class="wrap-submain" style="background-image: url('img/wrap-submain.png')">
            <div class="container">

                <article>
                    <div class="bloco">
                        <p>$nomeusuario</p>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                    </div>
                </article>

                <article>
                    <div class="bloco">
                        <p>$nomeusuario</p>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                        
                    </div>
                </article>
                <article>
                    <div class="bloco">
                        <p>$nomeusuario</p>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                        
                    </div>
                </article>

            </div>
        </section>
    </main>
    <footer>
        <div>
            <p>Match Book © 2021. Todos os direitos reservados</p>
        </div>
        
    </footer>
</body>

<script src="js/main.js"></script>

</html>