<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 <body>
  <header>
    <div class="container">
      <div class="logo">
        <h1>MatchBook</h1>
      </div>

      <p>Português-BR</p>
      <div class="btn-entrar">
        <button>Entre</button>    
      </div>
    </div>
  </header>
  <main>
    <section class="wrap-main">
      <div class="container">
        <div class="ani-logo">
         <img src="public\images\logo.png" alt="MatchBook logo do site">
         <img src="public/imagens/animacaologo.gif" alt="Gif logo">
        </div>
        <button>CRIAR UMA CONTA</button>
      </div>
    </section>
    <section class="wrap-submain">
      <div class="container">
        <article>
          <div class="bloco1">
            <p>$nomeusuario</p>
          </div>
          
          <div class="bloco2">
            <p>$nomeusuario</p>
          </div>

          
          <div class="bloco3">
            <p>$nomeusuario</p>
          </div>
        </article>
      </div>
    </section>
  </main>
  <footer>
    <p>Match Book © 2021. Todos os direitos reservados</p>
  </footer>
</body>
</html>



