<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <div class="container">
            <div class="logo">
                <P>MatchBook</P>
            </div>
            <div class="btn-entrar">
                <p>PORTUGUÊS(BRASIL)</p>
                <button>Entre</button>
            </div>

        </div>
    </header>
    <main>
        <section class="wrap-main">
            <div class="container">
                    <img class="logogif" src="images\animacaologo.gif" alt="Gif logo">
                    <button> <strong>CRIAR UMA CONTA</strong> </button>
            </div>
        </section>
        <section class="wrap-submain" style="background-image: url('images/wrap-submain.png')">
            <div class="container">

                <article>
                    <div class="bloco1">
                        <p>$nomeusuario</p>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                    </div>
                </article>

                <article>
                    <div class="bloco2">
                        <p>$nomeusuario</p>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                        
                    </div>
                </article>
                <article>
                    <div class="bloco3">
                        <p>$nomeusuario</p>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                        
                    </div>
                </article>

            </div>
        </section>
    </main>
    <footer>
        <div>
            <p>Match Book © 2021. Todos os direitos reservados</p>
        </div>
        
    </footer>
</body>

</html>