<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/template.css">
        <link rel="stylesheet" href="/stylesheets/login.css">
        <title>Match Book</title>
    </head>

<body>
    <%- include('partials/header_before') %>
    <main>
        <h2><strong>VAMOS COMEÇAR</strong></h2>
            <span><strong>Ao clicar em Entrar voce concorda com os nossos termos.</strong></span>
            <div class="form_login">
                <form>
                    <strong class="email">Email:</strong>
                    <input type="email" name="email" id="input_email" placeholder="Email do usuario">
                    <strong class="senha">Senha:</strong>
                    <input type="password" name="password" id="input_senha" placeholder="Senha">
                    <button class="botao" type="submit">ENTRAR</button>
                </form>
            </div>
            <div class="botoes">
                <div class="btn-google">
                    <button type="submit"><img src="/img/google-logo.png"><strong>ENTRAR COM O GOOGLE</strong></button>
                </div>
                <div class="btn-facebook">
                    <button type="submit"><img src="/img/facebook-logo.png"><strong>ENTRAR COM O FACEBOOK</strong></button>
                </div>
                <div class="btn-voltar">
                    <button type="submit" onclick="document.location='/'" ><strong>VOLTAR</strong></button>
                </div>
            </div>
    </main>
    <%- include('partials/footer') %>
</body>

</html>