<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registro.css">
    <title>Match Book</title>
</head>

<body>
    <header class="conteiner">
        <div class="incio">
            <img src="/img/logo.gif" alt="logo" class="logo">

        </div>
        <p class="idioma">PORTUGUÊS(BRASIL)</p>
        <div class="btn-enter">
            <button type="submit">ENTRE</button>
        </div>
    </header>
    <main>
        <H2>CRIE UMA CONTA</H2>
        <section class="projects">
            <div class="conteiner">

                <article>
                    <div class="info">
                        <div class="dados">
                            <strong class="nome">Nome:</strong>
                            <form class="formato">
                                <input type="text" name="nome" id="input_nome" placeholder="Nome do usuario">
                            </form>

                        </div>
                       
                    </div>
                    <div class="email">
                        <strong class="endereco">Endereço de email:</strong>
                        <form class="formato">
                            <input type="text" name="email" id="input_email" placeholder="Email">
                        </form>

                    </div>
                </article>

                <article>
                    <div class="info">
                        <div class="genero">
                            <strong class="sexo">Gênero:</strong>
                            <form class="formato">
                                <input type="text" name="genero" id="input_genero" placeholder="Gênero">
                            </form>

                        </div>

                    </div>

                    <div class="nascimento">
                        <strong class="data_de_nascimento">Data de Nascimento:</strong>
                        <form class="formato">
                            <input type="text" name="email" id="input_email" placeholder="DD/MM/AAAA">
                        </form>

                    </div>
                </article>
                 
                
                    <div class="cta-cadastro">
                        <button class="botao" type="submit"> CADASTRAR</button>
    
                    </div>
                </div>
               
            </div>

        </section>

    </main>

    <footer>
        <div class="conteiner">
            <div class="roda-pe">
                <h3>Match Book © 2021. Todos os direitos reservados</h3>
            </div>
        </div>
    </footer>
</body>

</html>