@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
    box-sizing: border-box;
  }
  body {
    padding: 0;
    margin: 0;
  
  }

form input {
    height: 30px;
    width: 200px;
}

.container .inicio{
    position: absolute;
    width: 1318px;
    height: 63px;
    left: 0px;
    top: 0px;
    background: #C186DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-action img {
    position: absolute;
    width: 401px;
    height: 581px;
    left: 0px;
    top: 63px;
    background: linear-gradient(180deg, rgba(117, 163, 205, 0.72) 0%, rgba(193, 134, 221, 0.56) 77.6%), url(image.png);
}

.container-action nav {
    position: absolute;
    margin: 70px 50px;
    justify-content: space-around;
}

.container-action button {
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
}

.container-action button:hover {
    background-color: rgba(117, 163, 205, 0.72);
    
}

.container-btnvoltar button {
    padding: 5px;
    position: absolute;
    margin: 480px 160px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
}

.container-btnvoltar button:hover {
    background-color: rgba(117, 163, 205, 0.72);
}

.container-action h2 {
    position: absolute;
    margin: 180px 70px;
}

.container-form {
    position: absolute;
    margin: 100px 450px;
}

.container-form form{
    position: absolute;
}

.container-form form .form-name {
    padding: 30px 10px 5px;
}

.container-form form .form-author {
    padding: 30px 10px 5px;
}

.container-form form .form-publisher {
    padding: 30px 10px 5px;
}

.container-form form .form-generes {
    padding: 30px 10px 5px;
}

.container-form form .form-description {
    padding: 30px 10px 5px;
    height: 100px;
}

.container-form .cta-cadastro button {
    padding: 5px;
    margin: 30px 300px;
    width: 200px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
}

.container-form .cta-cadastro button:hover {
    background-color: rgba(117, 163, 205, 0.72);
}

.form-cover form {
    position: absolute;
    margin: 130px 900px;
}

.form-cover form img {
    padding: 20px 50px;
}

.form-cover form input {
    padding: 20px 0px;
}