@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
}



body {
    padding: 0;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
    color: #777777;

}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}



header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    /* margin-bottom: 30px; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    justify-content: space-between;
    background: #AA6DC7;
}

.avata{
    position: relative;
    width: 80px;
    height: 80px;
    left: 40px;
    top: 1px;

}

.nomedousuario{
    position: absolute;
    height: 50px;
    left: 130px;
    top: -5px;

    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 65px;


    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

section.styles article{
    position: absolute;
    width: 401px;
    height: 582px;
    left: 0px;
    top: 62px;


}

section.styles h2{
    position: absolute;
    width: 401px;
    height: 34px;
    left: 34px;
    top: 70px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 65px;


    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;
}

section.styles .n{
    position: absolute;
    width: 111px;
    height: 30px;
    left: 32px;
    top: 120px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 65px;


    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;
}

section.styles .nome{
    position: absolute;
    width: 334px;
    height: 50px;
    left: 32px;
    top: 165px;

    background: #FFFEFE;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}

section.styles .email{
    position: absolute;
    width: 334px;
    height: 50px;
    left: 32px;
    top: 260px;

    background: #FFFEFE;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}

section.styles .numero{
    position: absolute;
    width: 334px;
    height: 50px;
    left: 32px;
    top: 360px;

    background: #FFFEFE;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}
section.styles .telefone{
    position: absolute;
    width: 111px;
    height: 30px;
    left: 32px;
    top: 215px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 65px;


    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;
}

section.styles .e{
    position: absolute;
    width: 111px;
    height: 30px;
    left: 32px;
    top: 315px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 65px;


    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #000000;
}

.voltar{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5px 7px;

position: absolute;
width: 200px;
height: 34px;
left: 99px;
top: 519.11px;

background: #A1C8EB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
transform: rotate(-0.03deg);
}

.cta-cadastro button
{

position: absolute;
width: 200px;
height: 34px;
left: 99px;
top: 460px;

background: #A1C8EB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
transform: rotate(-0.03deg);

}

.botao{
    

    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    


    

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    

}

.perfil{
    position: relative;
    width: 314px;
    height: 470px;
    left: 657px;
    top: 100px;
    
    background: #FFFDFD;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}


.meuperfil{
    
    width: 311px;
    height: px;
    left: 657px;
    top: 100px;
    
   
    border-radius: 20px;
}

.info{
    position: absolute;
width: 232px;
height: 56px;
left: 721px;
top: 486px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 65px;
/* or 271% */

display: flex;
align-items: center;

color: #000000;
}

footer{
    position: absolute;
width: 100%;
height: 57px;
left: 0px;
top: 587px;

background: #75A3CD;
}

footer .roda-pe{
    position: absolute;

height: 24px;
left: 500px;
top: 10px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;


color: #000000;
}


@media (max-width: 1010px) {
    section.projects .container {
        padding: 50px;
        justify-content: center;
    }
}
