@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');


* {
    box-sizing: border-box;

}

body {
    padding: 0;
    margin: 0;
    width: 100vw;

}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }

/*  INÍCIO DO HEADER_BEFORE  */

header{
   background: #AA6DC7;
   display: flex;
   flex-direction: row;
   height: 85px;
   width: auto;
   flex-grow: 1;
   position: absolute;

  
   
}
.logo{
  width: 80px;
  height: 80px;
  padding: 0;
}

header .container {
  display: flex;
 
  align-items: center;
}

header .btn-entrar {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Rhodium Libre;
  color: black;

}

header .idioma {
    width: 132px;
    height: 40px;
    margin-left: 1300px;
    margin-top: 40px;

    font-family: Rhodium Libre;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;

    display: flex;
    align-self: flex-end;

 

    color: #000000;

}

header button{
  background: #A1C8EB;
  
  border-radius: 10px;
  width: 80px;
  height: 35px;
}

header button:hover {
  transition: 0.3s;
  color: white;
  border: 10px;
 border: white;
}

/*  FIM DO HEADER_BEFORE  */

/*  INÍCIO DO FOOTER  */

footer {
    position: fixed;
    width: 100%;
    min-height: 10.5%;
    left: 0px;
    bottom: 0;

    background: #75A3CD;

}

footer .roda-pe {
    position: absolute;
    max-height: 10.5%;

    height: 24px;
    left: calc(50% - 300px/2);
    top: 15%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: max(0.75em,10.5%);
    


    color: #000000;

}
/*  FIM DO FOOTER  */