@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');


* {
  box-sizing: border-box;

}

body {
  padding: 0;
  margin: 0;

}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;

}

/*  INÍCIO DO HEADER_BEFORE  */

header {
  position: fixed;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 84px;  
  
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  background: #AA6DC7;

}

.logo{
  width: 80px;
  height: 80px;
  padding: 0;

}

header .container {
  display: flex;
  align-items: center;
  width: 100%;

}

header button{
  position: absolute;
  width: 92px;
  height: 30px;
  left: 1160px;
  top: 30px;
  font-family: Rhodium Libre;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
    
  align-items: center;

  color: #131212;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #A1C8EB;
 
}

header .idioma {
  position: absolute;
  width: 132px;
  height: 40px;
  left: 1036px;
  top: 15px;

  font-family: Rhodium Libre;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 65px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;

}

header button:hover {
  transition: 0.3s;
  color: white;
  border: 10px;
  border: white;

}

/*  FIM DO HEADER_BEFORE  */

/*  INÍCIO DO FOOTER  */

footer{
  position: absolute;
  width: 100%;
  height: 57px;
  left: 0px;
  bottom: -57px;

  background: #75A3CD;

}

footer .roda-pe{
  position: absolute;

  height: 24px;
  left: 500px;
  top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  color: #000000;

}

/*  FIM DO FOOTER  */